<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VietnamesicheKüche"
        tools:targetApi="31">
        <activity
            android:name=".Reis_BoLucLac"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_CanhChuaNamChay"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComVitQuay"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_DauHuSotCa"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComChienDuongChau"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComGaLuoc"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_DauHuTomRim"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_GaKhoSaOt"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComTam"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar"
            android:parentActivityName=".Reis_Gerichte_Activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar"
            >
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Vegatarisch_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Search_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VietnamesichesKueche_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>