<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VietnamesicheKüche"
        tools:targetApi="31">
        <activity
            android:name=".Spezialitaet_Vege_GoiCuonChay_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_Vege_ChaGioChay_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_ChaGio_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_LauHaiSan_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_BoKho_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_GoiCuon_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_BanhXeo_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_BanhMiThitHeoNuong_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_Vege_MienChayXao_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_Vege_MienChayRauCu_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_BunThitNuong_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_BunBoHue_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_MiQuang_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_MienGa_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_HuTieuTomThit_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_PhoBo_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Search_Filter_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_BoLucLac_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_Vege_CanhChuaNamChay_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComVitQuay_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_Vege_DauHuSotCa_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComChienDuongChau_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComGaLuoc_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_DauHuTomRim_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_GaXaoSaOt_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_ComTam_Activity"
            android:exported="false"
            android:parentActivityName=".Reis_Gerichte_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Reis_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Vegatarisch_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Spezialitaet_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Nudeln_Gerichte_Activity"
            android:exported="false"
            android:parentActivityName=".VietnamesichesKueche_Activity"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".VietnamesichesKueche_Activity"
            android:exported="false"
            android:theme="@style/Theme.VietnamesicheKüche.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>